<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.k_nakamura.horiojapan.kousaku.saitama_u.fileexplorer" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_folder2"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EditTextActivity"
            android:label="@string/title_activity_edit_text" >
        </activity>
        <activity
            android:name=".ShowImageActivity"
            android:label="@string/title_activity_show_image" >
        </activity>
        <activity
            android:name=".ThumbnailTestActivity"
            android:label="@string/title_activity_thumbnail_test" >
        </activity>
        <activity
            android:name=".BrowseOneDrive"
            android:label="@string/title_activity_browse_one_drive" >
        </activity>
    </application>

</manifest>
